* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #dac2c2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#logo {
  width: 50px;
  height: 50px;
}

#menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

#menubar a {
  text-decoration: none;
  color: #000;
  margin-left: 40px;
  font-size: 16px;
  font-weight: 600;
}

#main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 120px 20px 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#main-container-left {
  width: 60%;
  height: 100%;
}

#main-container-left-text {
  padding: 20px 30px;
}
#main-container-left-text h1 {
  font-size: 100px;
  font-weight: 900;
}
#main-container-left-text h1 span {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  font-size: 100px;
  font-weight: 900;

}
#main-container-left-text h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

#main-container-left-button {
  padding: 20px 30px;
}

#main-container-left-button button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #dac2c2;
  opacity: 0.8;
  color: #000;
}

#main-container-left-button button:hover {
  opacity: 1;
}

#main-container-left-button button:active {
  transform: scale(0.95);
}
#main-container-left-button button:focus {
  outline: none;
}
#main-container-left h4 {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 30px;
}

#main-container-right {
  width: 40%;
  height: 100%;
  padding: 10px 20px;
}

#main-container-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

#main-container-right img:hover {
  transform: scale(1.05);
}





